# Configuration Serveur Mail (SMTP)
# Remplissez ces valeurs pour envoyer de vrais emails (au lieu de la console)
# Si vous utilisez Gmail, vous devez générer un "Mot de passe d'application" dans les paramètres de sécurité de votre compte Google.

# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=votre.email@gmail.com
# EMAIL_HOST_PASSWORD=votre_mot_de_passe_d_application
# DEFAULT_FROM_EMAIL=votre.email@gmail.com
